@media screen and (max-width : 600px){
    // header{
    //     padding: 0;
    // }

    // header .right-header{
    //     padding: 0 !important;
    // }

    // .theme-btn{
    //     width: 50px;
    //     height: 50px;
    // }

    // .header-content{
    //     grid-template-columns: 1fr;
    //     padding-bottom: 6rem;
    // }

    // .left-header{
    //     .h-shape{
    //         display: none;
    //     }
    // }

    // .right-header{
    //     grid-row: 1;
    //     width: 90%;
    //     margin: 0 auto;
    //     .name{
    //         font-size: 2.5rem !important;
    //     }
    // }

    // .header-content .left-header .image{
    //     margin: 0 auto;
    //     width: 90%;
    // }

    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }
        .left-about{
            padding-right: 0;
            p{
                padding-left: 0;
            }
        }
    }

    .timeline{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    // .about-stats{
    //     .progress-bars{
    //         grid-template-columns: 1fr;
    //     }
    // }

    .portfolios{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .blogs{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }

    .contact-content-con .right-contact .i-c-2{
        flex-direction: column;
    }

    .contact-content-con .right-contact .i-c-2:last-child{
        margin-left: 0 ;
        margin-top: 1.5rem;
    }

    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2rem;
            }

            .bg-text{
                font-size: 2.5rem;
            }
        }
    }





    .section{
        padding: 2rem 2.5rem;
    }


    // .controlls{
    //     top: auto;
    //     bottom: 0;
    //     flex-direction: row;
    //     justify-content: center;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     width: 100%;
    //     background-color: var(--color-grey-5);
    //     .control{
    //         margin: 1rem .3rem;
    //     }
    // }
}

@media screen and (max-width : 1432px){
    header{
        padding: 0 !important;
    }

    .section{
        padding: 7rem 11rem ;
    }
    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }

    .contact-content-con .right-contact .i-c-2{
        flex-direction: column;
    }

    .contact-content-con .right-contact .i-c-2:last-child{
        margin-left: 0 ;
        margin-top: 1.5rem;
    }

}

@media screen and (max-width : 1075px){
    .about-container{
        grid-template-columns: 1fr;

        .right-about{
            padding-top: 2.5rem;
        }
    }

    .portfolios{
        grid-template-columns: 1fr 1fr;
    }
    .blogs{
        grid-template-columns: 1fr 1fr;
    }
    .icons{
        display: flex;
        align-items: center;
        justify-content: center ;

        .icon{
            background-color: var(--color-primary);
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 .4rem;
            cursor: pointer;
            transition: var(--transition);
            i{
                font-size: .9rem;
                color: var(--color-white);
                margin: 0 .5rem;
            }
        }


    .main-title{
        h2{
            font-size: 3rem;
            span{
                font-size: 3rem;
            }

            .bg-text{
                font-size: 3.5rem;
            }
        }
    }
    }
}

@media screen and (max-width : 962px){
    .section{
        padding: 7rem 6rem;
    }

    header{
        padding: 0;
    }

    header .right-header{
        padding: 0 !important;
    }

    .theme-btn{
        width: 50px;
        height: 50px;
    }

    .header-content{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .left-header{
        .h-shape{
            display: none;
        }
    }

    .right-header{
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem !important;
        }
    }

    .header-content .left-header .image{
        margin: 0 auto;
        width: 90%;
    }

    .controlls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        .control{
            margin: .5rem .9rem !important;
        }
    }
}

@media screen and (max-width : 765px){

    .icons{
        display: flex;
        align-items: center;
        justify-content: center ;

        .icon{
            background-color: var(--color-primary);
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 .2rem;
            cursor: pointer;
            transition: var(--transition);
            i{
                font-size: .7rem;
                color: var(--color-white);
                margin: 0 .2rem;
            }
        }
    }
    .section{
        padding: 7rem 3rem;
    }
    .about-stats{
        .progress-bars{
            grid-template-columns: 1fr;
        }
    }

    .main-title{
        h2{
            font-size: 2.5rem;
        }
        span{
            font-size: 2.5rem;
        }
        .bg-text{
            font-size: 3rem;
        }
    }

    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2rem;
        }
    }

    .contact-content-con .right-contact .i-c-2{
        flex-direction: column;
    }

    .contact-content-con .right-contact .i-c-2:last-child{
        margin-left: 0 ;
        margin-top: 1rem;
    }
}